<li>
  <table>
    <tr>
      <td><!-- start_on --></td>
      <td>
        <a href="/memo/edit?id=<!-- id -->">
          編集
        </a>
      </td>
      <td>
        <a href="">
          削除
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <pre><!-- comment --></pre>
      </td>
    </tr>
  </table>
</li>